<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>Guitar Demo</title>
    <script type="text/javascript" src="js/rem.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/css/guitar.css">
</head>

<body>
    <div class="container">
        <div class="navbar" ng-controller="NavController">
            <ul class="nav">
                <li>
                    <a href="#/" ng-click="navClick('home')"><img src="/style/images/logo.png" alt="首页"></a>
                </li>
                <li><a href="#/courses" ng-click="navClick('courses')" ng-class="{true: 'active', false: 'inactive'}[isCoursesActive]">课程</a></li>
                <li><a href="#/qupu" ng-click="navClick('qupu')" ng-class="{true: 'active', false: 'inactive'}[isQupuActive]">曲谱库</a></li>
                <li>
                    <a href="#/search" ng-click="navClick('search')" ng-class="{true: 'active', false: 'inactive'}[isSearchActive]"><img src="/style/images/search.png" alt="曲谱搜索"></a>
                </li>
            </ul>
        </div>
        <ng-view></ng-view>
    </div>
    <script src="lib/angular/angular.js"></script>
    <script src="lib/angular/angular-route.js"></script>
    <script src="lib/angular/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services/coursesData.js"></script>
    <script src="js/services/qupuData.js"></script>
    <script src="js/services/searchData.js"></script>
    <script src="js/controllers/NavController.js"></script>
    <script src="js/controllers/CoursesController.js"></script>
    <script src="js/controllers/QupuController.js"></script>
    <script src="js/controllers/SearchController.js"></script>
</body>

</html>
