<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
    <title>Guitar Demo</title>
    <script type="text/javascript" src="js/rem.js"></script>
    <link rel="stylesheet" type="text/css" href="/style/css/guitar.css">
    <link rel="stylesheet" type="text/css" href="/style/css/course.css">

    <link rel="stylesheet" href="lib/alphaTab/AlphaTab.css" />
    <link rel="stylesheet" href="style/css/gh-buttons.css" />
    <link rel="stylesheet" href="style/css/demo.css" />
    <link rel="stylesheet" href="style/css/player.css" />

    <link rel="stylesheet" href="style/css/videogular.css" />
    <link rel="stylesheet" href="style/css/video-player.css" />
</head>

<body>
    <div class="container">
        <div class="navbar" ng-controller="NavController" ng-show="shouldShow">
            <ul class="nav">
                <li>
                    <a href="#/"><img src="/style/images/logo.png" alt="首页"></a>
                </li>
                <li><a href="#/courses" ng-click="navClick('courses')" ng-class="{true: 'active', false: 'inactive'}[isCoursesActive]">课程</a></li>
                <li><a href="#/qupus" ng-click="navClick('qupu')" ng-class="{true: 'active', false: 'inactive'}[isQupuActive]">曲谱库</a></li>
                <li id="search">
                    <a href="#/search" ng-click="navClick('search')" ng-class="{true: 'active', false: 'inactive'}[isSearchActive]"><img src="/style/images/search.png" alt="曲谱搜索"></a>
                </li>
            </ul>
        </div>
        <ng-view></ng-view>
    </div>

    <script src="lib/jquery/2.1.3/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-animate.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-route.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-resource.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-sanitize.min.js"></script>
    <script src="lib/videogular/videogular.js"></script>
    <script src="lib/videogular/vg-controls.js"></script>
    <script src="lib/videogular/vg-overlay-play.js"></script>

    <script src="js/app.js"></script>
    <script src="js/services/coursesData.js"></script>
    <script src="js/services/qupusData.js"></script>
    <script src="js/services/searchData.js"></script>
    <script src="js/services/courseDetailData.js"></script>
    <script src="js/services/qupuDetailData.js"></script>
    <script src="js/controllers/NavController.js"></script>
    <script src="js/controllers/CoursesController.js"></script>
    <script src="js/controllers/QupusController.js"></script>
    <script src="js/controllers/SearchController.js"></script>
    <script src="js/controllers/CourseDetailController.js"></script>
    <script src="js/controllers/QupuDetailController.js"></script>
    <script src="js/controllers/VideoController.js"></script>

        <!-- Including alphaTab -->
    <script type="text/javascript" src="lib/alphaTab/AlphaTab.js"></script>
    <script type="text/javascript" src="lib/alphaTab/jquery.alphaTab.js"></script>
    <script type="text/javascript" src="lib/alphaTab/jquery.alphaTab.drop.js"></script>

    <!-- Including alphaSynth -->
    <script type="text/javascript" src="lib/swfobject/swfobject.js"></script>
    <script type="text/javascript" src="lib/alphaSynth/alphaSynth.js"></script>

    <!-- alphaSynth Plugin -->
    <script type="text/javascript" src="lib/alphaTab/jquery.alphaTab.alphaSynth.js"></script>

    <script src="js/controllers/AlphaTabController.js"></script>
</body>

</html>
