<div class="course-body">
    <div class="btn-group">
        <button class="button" ng-disabled="isFirstCourse()" ng-click="prevCourse()">前一节: {{getPreviousCourseTitle()}}</button>
        <p class="course-title">{{courseInfo.title}}</p>
        <button class="button" ng-disabled="isLastCourse()" ng-click="nextCourse()">下一节: {{getNextCourseTitle()}}</button>
    </div>
    <div class="slide-frame" ng-show="!showUnlockedQupu">
        <div class="wave" ng-show="!isFullMode">
            <div ng-controller="VideoController as controller" class="videogular-container">
                <videogular vg-theme="controller.config.theme.url">
                    <vg-media vg-src="courseInfo.videoSrc" vg-tracks="controller.config.tracks">
                    </vg-media>
                    <vg-controls>
                        <vg-play-pause-button></vg-play-pause-button>
                        <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                        <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        </vg-scrub-bar>
                        <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
                        <vg-volume>
                            <vg-mute-button></vg-mute-button>
                            <vg-volume-bar></vg-volume-bar>
                        </vg-volume>
                        <vg-playback-button></vg-playback-button>
                        <vg-fullscreen-button></vg-fullscreen-button>
                    </vg-controls>
                    <vg-overlay-play></vg-overlay-play>
                </videogular>
            </div>
            <div class="course-info">
                <button class="button full-mode" ng-show="showFullModeButton" ng-click="toggleFullMode()">全曲练习</button>
                <div ng-show="!showFullModeButton">
                    <h3>{{courseInfo.desc}}</h3>
                    <p>{{courseInfo.other}}</p>
                </div>
                <p ng-show="hasImages()"><img src={{currentImage()}}></p>
            </div>
        </div>
        <div ng-show="isFullMode">
            <course-qupu-ctrl> 
            </course-qupu-ctrl>
        </div>
        <div ng-controller="AlphaTabController" ng-show="hasQupu()">
            <div id="alphaTab" data-file="" data-tracks=""></div>
            <div id="controls" data-layout="horizontal" data-scrollmode="horizontal-bar">
                <div id="loadingInfo">Player not ready</div>
                <div id="sfInfo">Loading Soundfont <span class="progress"></span></div>
                <button class="button play" disabled="disabled" id="playPause" ng-click="playPauseQupu()">Play</button>
                <button class="button" disabled="disabled" id="stop" ng-click="stopQupu()">Stop</button>
            </div>
        </div>
    </div>
    <div class="all-courses" ng-controller="UnlockedQupuController" ng-show="showUnlockedQupu" >
        <ul>
            <li ng-repeat="info in unlockedQupuData.info" class="well">
                <a href="#/qupu/{{info.id}}">
                    <div class="hot-img-l"> <img src={{info.detail.img}} alt={{info.title}}></div>
                    <div class="hot-text-r">
                        <h2>{{info.title}}</h2>
                        <p class="qupu-type">难易度：{{info.type}}</p>
                        <p>
                            <span class="name">xxx</span>
                            <span class="number">12306</span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</div>
