<div class="course-body">
    <div class="btn-group">
        <button class="button" ng-disabled="isFirstCourse()" ng-click="prevCourse()">前一节: {{getPreviousCourseTitle()}}</button>
        <p class="course-title">{{courseInfo.title}}</p>
        <button class="button" ng-disabled="isLastCourse()" ng-click="nextCourse()">下一节: {{getNextCourseTitle()}}</button>
    </div>
    <div class="slide-frame">
        <div class="wave ">
            <div ng-controller="VideoController as controller" class="videogular-container">
                <videogular vg-theme="controller.config.theme.url">
                    <vg-media vg-src="courseInfo.videoSrc" vg-tracks="controller.config.tracks">
                    </vg-media>
                    <vg-controls>
                        <vg-play-pause-button></vg-play-pause-button>
                        <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                        <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        </vg-scrub-bar>
                        <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
                        <vg-volume>
                            <vg-mute-button></vg-mute-button>
                            <vg-volume-bar></vg-volume-bar>
                        </vg-volume>
                        <vg-playback-button></vg-playback-button>
                        <vg-fullscreen-button></vg-fullscreen-button>
                    </vg-controls>
                    <vg-overlay-play></vg-overlay-play>
                </videogular>
            </div>
            <div class="course_info">
                <h3>{{courseInfo.desc}}</h3>
                <p>{{courseInfo.other}}</p>
            </div>
            <div ng-controller="AlphaTabController">
                <div id="alphaTab" data-file="" data-tracks=""></div>
                <div id="controls" data-layout="horizontal" data-scrollmode="horizontal-bar">
                    <div id="loadingInfo">Player not ready</div>
                    <div id="sfInfo">Loading Soundfont <span class="progress"></span></div>
                    <button class="button play" disabled="disabled" id="playPause" ng-click="playPauseQupu()">Play</button>
                    <button class="button" disabled="disabled" id="stop" ng-click="stopQupu()">Stop</button>
                </div>
            </div>
        </div>
    </div>
</div>
