<div class="course-body">
    <div id="course-title-controls" data-layout="horizontal" data-scrollmode="horizontal-bar">
        <button class="button" ng-disabled="isFirstCourse()" ng-click="prevCourse()">上一节: {{getPreviousCourseTitle()}}</button>
        <span class="course-title">{{courseInfo.title}}</span>
        <button class="button" ng-disabled="isLastCourse()" ng-click="nextCourse()">下一节: {{getNextCourseTitle()}}</button>
    </div>
    <div class="slide-frame">
        <div class="wave" ng-show="!showUnlockedQupu">
            <div ng-controller="VideoController as controller" class="videogular-container" ng-show="!isFullMode">
                <videogular vg-theme="controller.config.theme.url">
                    <vg-media vg-src="courseInfo.videoSrc" vg-tracks="controller.config.tracks">
                    </vg-media>
                    <vg-controls>
                        <vg-play-pause-button></vg-play-pause-button>
                        <vg-time-display>{{ currentTime | date:'mm:ss':'+0000' }}</vg-time-display>
                        <vg-scrub-bar>
                            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                        </vg-scrub-bar>
                        <vg-time-display>{{ totalTime | date:'mm:ss':'+0000' }}</vg-time-display>
                        <vg-volume>
                            <vg-mute-button></vg-mute-button>
                            <vg-volume-bar></vg-volume-bar>
                        </vg-volume>
                        <vg-playback-button></vg-playback-button>
                        <vg-fullscreen-button></vg-fullscreen-button>
                    </vg-controls>
                    <vg-overlay-play></vg-overlay-play>
                </videogular>
            </div>
            <div class="course-info" ng-show="!isFullMode">
                <div ng-show="!showFullModeButton">
                    <h3>{{courseInfo.desc}}</h3>
                    <p>{{courseInfo.other}}</p>
                </div>
                <p ng-show="hasImages()"><img src={{currentImage()}}></p>
            </div>
        </div>
        <div ng-controller="AlphaTabController">
            <div id="alphaTab" data-file="" data-tracks="" ng-show="showAlphaTab()"></div>
            <div id="course-controls" data-layout="horizontal" data-scrollmode="horizontal-bar" ng-show="showFullModeButton">
                <div id="loadingInfo">Player not ready</div>
                <div id="sfInfo">Loading Soundfont <span class="progress"></span></div>

                <div class="button-group">
                    <button class="button full-mode" ng-click="toggleFullMode()">全曲练习</button>
                    <button class="button play" disabled="disabled" id="playPause" ng-click="playPauseQupu()" ng-show="isFullMode"></button>
                    <button class="button" disabled="disabled" id="stop" ng-click="stopQupu()" ng-show="isFullMode"></button>
                </div>
                <div class="button-group" ng-show="isFullMode">
                    <button class="button">静音EM</button>
                    <button class="button" >静音AM</button>
                    <button class="button">全部静音</button>
                </div>

                <div class="metronome" ng-show="isFullMode">
                    <select ng-model="mymetronome" ng-options="metronome.name for metronome in metronomes">
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="all-courses" ng-controller="UnlockedQupuController" ng-show="showUnlockedQupu">
        <ul>
            <li ng-repeat="info in unlockedQupuData.info" class="well">
                <a href="#/qupu/{{info.id}}">
                    <div class="hot-img-l"> <img src={{info.detail.img}} alt={{info.title}}></div>
                    <div class="hot-text-r">
                        <h2>{{info.title}}</h2>
                        <p class="qupu-type">难易度：{{info.type}}</p>
                        <p>
                            <span class="name">xxx</span>
                            <span class="number">12306</span>
                        </p>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>
</div>
