<div class="qupu-body" ng-controller="AlphaTabController">
    <div id="alphaTab" data-file="files/NightWish.gp5" data-tracks="3"></div>
    <div id="controls" data-layout="page" data-scrollmode="vertical">
        <div id="loadingInfo">Player not ready</div>
        <div id="sfInfo">Loading Soundfont <span class="progress"></span></div>
        <div class="button-group" id="layoutButtons">
            <button class="button play" disabled="disabled" id="playPause" ng-click="playPauseQupu()">Play</button>
            <button class="button" disabled="disabled" id="stop" ng-click="stopQupu()">Stop</button>
        </div>
    </div>
</div>
