<div class="all-courses">
    <h1>最热曲谱</h1>
    <ul>
        <li ng-repeat="info in hotQupusData.info" class="well">
            <a href="#/qupu/{{info.id}}">
                <div class="hot-img-l"> <img src={{info.detail.img}} alt={{info.title}}></div>
                <div class="hot-text-r">
                    <h2>{{info.title}}</h2>
                    <p class="qupu-type">难易度：{{info.type}}</p>
                    <p>
                    	<span class="name">xxx</span>
                    	<span class="number">12306</span>
                    </p>
                </div>
            </a>
        </li>
    </ul>
</div>