.course-body {
    display: flex;
    flex-direction: column;
}

.course-body .course-title {
    height: 0.5rem;
    font-size: 0.4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.slide-frame {
    position: relative;
    overflow: hidden;
    width: 100%;

    margin-top: 0.1rem;
}

.slide-frame > div {
    width: 100%;
}


/* modal and step animations */

.wave.ng-enter,
.wave.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.wave.ng-enter {
    position: absolute;
    left: -100%;
}

.wave.ng-enter-active {
    left: 0;
}

.wave.ng-leave {
    position: absolute;
    left: 0;
}

.wave.ng-leave-active {
    left: 100%;
}

.course-info {
    overflow: hidden;
    clear: both;
    text-align: center;
    margin-top: 0.2rem;
    margin-bottom: 0.2rem;
}

.course-info div h3 {
    font-size: 0.3rem;
}

.course-info div p {
    font-size: 0.25rem;
}

.course-info div span {
    font-size: 0.25rem;
}

.full-screen {
    float: right;
    margin: 0.2rem 0.2rem 0.2rem !important;
}

#course-title-controls {
    font-size: 0.1rem;
    top:0;
    height:35px;
    left:0;
    right:0;
    background:#0e000000;
    padding:10px;
    z-index:2000;
    text-align:center;
    display: flex;
    justify-content: space-between;
}
